In [4]:
import pandas as pd

In [5]:
dataset=pd.read_csv("Placement.csv")

In [ ]:
dataset

In [ ]:
dataset.info()

In [6]:
quan=[]
qual=[]
for col in dataset.columns:
    if (dataset[col].dtypes=='O'):
        qual.append(col)
    else:
        quan.append(col)

In [7]:
print(quan)

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [5]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

# Central Tendency

In [6]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
Median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
Mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [7]:
for col in quan:
    descriptive.loc["Mean",col]=dataset[col].mean()
    descriptive.loc["Median",col]=dataset[col].median()
    descriptive.loc["Mode",col]=dataset[col].mode()[0]

In [8]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

# Percentile

In [10]:
import numpy as np
np.percentile(dataset["ssc_p"],10)

np.float64(52.0)

In [11]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [13]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25","Q2:50","Q3:75","99th","Q4:100"],columns=quan)
for col in quan:
        descriptive.loc["Mean",col]=dataset[col].mean()
        descriptive.loc["Median",col]=dataset[col].median()
        descriptive.loc["Mode",col]=dataset[col].mode()[0]
        descriptive.loc["Q1:25",col]=dataset.describe()[col]["25%"]
        descriptive.loc["Q2:50",col]=dataset.describe()[col]["50%"]
        descriptive.loc["Q3:75",col]=dataset.describe()[col]["75%"]
        descriptive.loc["99th",col]=np.percentile(dataset[col],99)
        descriptive.loc["Q4:100",col]=dataset.describe()[col]["max"]

In [14]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99th,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100,215.0,89.4,97.7,91.0,98.0,77.89,940000.0

# IQR InterQuartile Range-Lesser outlier,UpperOutlier calculation

In [19]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25","Q2:50","Q3:75","99th","Q4:100","IQR","1.5rule","LesserBound","UpperBound","min","max"],columns=quan)
for col in quan:
        descriptive.loc["Mean",col]=dataset[col].mean()
        descriptive.loc["Median",col]=dataset[col].median()
        descriptive.loc["Mode",col]=dataset[col].mode()[0]
        descriptive.loc["Q1:25",col]=dataset.describe()[col]["25%"]
        descriptive.loc["Q2:50",col]=dataset.describe()[col]["50%"]
        descriptive.loc["Q3:75",col]=dataset.describe()[col]["75%"]
        descriptive.loc["99th",col]=np.percentile(dataset[col],99)
        descriptive.loc["Q4:100",col]=dataset.describe()[col]["max"]
        descriptive.loc["IQR",col]=descriptive.loc["Q3:75",col]-descriptive.loc["Q1:25",col]
        descriptive.loc["1.5rule",col]=1.5*descriptive[col]["IQR"]
        descriptive.loc["LesserBound",col]=descriptive[col]["Q1:25"]-descriptive[col]["1.5rule"]
        descriptive.loc["UpperBound",col]=descriptive[col]["Q3:75"]+descriptive[col]["1.5rule"]
        descriptive.loc["min",col]=dataset[col].min()
        descriptive.loc["max",col]=dataset[col].max()

In [20]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99th,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
LesserBound,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
UpperBound,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
min,1,40.89,37.0,50.0,50.0,51.21,200000.0
max,215,89.4,97.7,91.0,98.0,77.89,940000.0

# Finding Outliers-"<" lesserbound and ">" greaterbound

In [21]:
lesser_outlier=[]
upper_outlier=[]
for col in quan:
    if (descriptive[col]["min"]<descriptive[col]["LesserBound"]):
        lesser_outlier.append(col)
    if(descriptive[col]["max"]>descriptive[col]["UpperBound"]):
        upper_outlier.append(col)

In [22]:
lesser_outlier

['hsc_p']

In [23]:
upper_outlier

['hsc_p', 'degree_p', 'salary']

# Replacing Outliers with its boundary in dataset

In [24]:
for col in lesser_outlier:
    dataset.loc[dataset[col] < descriptive[col]["LesserBound"], col]=descriptive[col]["LesserBound"]

In [26]:
for col in upper_outlier:
    dataset.loc[dataset[col] > descriptive[col]["UpperBound"], col]=descriptive[col]["UpperBound"]

In [ ]:
#checking descriptive DF after updating the outlier in dataset

In [36]:
def Univariate(quan,dataset):
            descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25","Q2:50","Q3:75","99th","Q4:100","IQR","1.5rule","LesserBound","UpperBound","min","max"],columns=quan)
            for col in quan:
                    descriptive.loc["Mean",col]=dataset[col].mean()
                    descriptive.loc["Median",col]=dataset[col].median()
                    descriptive.loc["Mode",col]=dataset[col].mode()[0]
                    descriptive.loc["Q1:25",col]=dataset.describe()[col]["25%"]
                    descriptive.loc["Q2:50",col]=dataset.describe()[col]["50%"]
                    descriptive.loc["Q3:75",col]=dataset.describe()[col]["75%"]
                    descriptive.loc["99th",col]=np.percentile(dataset[col],99)
                    descriptive.loc["Q4:100",col]=dataset.describe()[col]["max"]
                    descriptive.loc["IQR",col]=descriptive.loc["Q3:75",col]-descriptive.loc["Q1:25",col]
                    descriptive.loc["1.5rule",col]=1.5*descriptive.loc["IQR",col]
                    descriptive.loc["LesserBound",col]=descriptive.loc["Q1:25",col]-descriptive.loc["1.5rule",col]
                    descriptive.loc["UpperBound",col]=descriptive.loc["Q3:75",col]+descriptive.loc["1.5rule",col]
                    descriptive.loc["min",col]=dataset[col].min()
                    descriptive.loc["max",col]=dataset[col].max()
            return descriptive

In [37]:
Univariate(quan,dataset)

              sl_no      ssc_p  hsc_p degree_p    etest_p      mba_p    salary
Mean          108.0  67.303395  91.15     88.5  72.100558  62.278186  390000.0
Median        108.0       67.0  91.15     88.5       71.0       62.0  390000.0
Mode              1       62.0  91.15     88.5       60.0       56.7  390000.0
Q1:25          54.5       60.6  91.15     88.5       60.0     57.945  390000.0
Q2:50         108.0       67.0  91.15     88.5       71.0       62.0  390000.0
Q3:75         161.5       75.7  91.15     88.5       83.5     66.255  390000.0
99th         212.86       87.0  91.15     88.5       97.0    76.1142       NaN
Q4:100        215.0       89.4  91.15     88.5       98.0      77.89  390000.0
IQR           107.0       15.1    0.0      0.0       23.5       8.31       0.0
1.5rule       160.5      22.65    0.0      0.0      35.25     12.465       0.0
LesserBound  -106.0      37.95  91.15     88.5      24.75      45.48  390000.0
UpperBound    322.0      98.35  91.15     88.5     118.75      78.72  390000.0
min               1      40.89  91.15     88.5       50.0      51.21  390000.0
max             215       89.4  91.15     88.5       98.0      77.89  390000.0

In [39]:
#now no outlier should be present
def outlierr_find(quan,col):
            lesser_outlier=[]
            upper_outlier=[]
            for col in quan:
                if (descriptive[col]["min"]<descriptive[col]["LesserBound"]):
                    lesser_outlier.append(col)
                if(descriptive[col]["max"]>descriptive[col]["UpperBound"]):
                    upper_outlier.append(col)
            return lesser_outlier,upper_outlier

In [40]:
outlierr_find(quan,"ssc_p")

([], [])

In [31]:
upper_outlier

[]

In [32]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

# Frequency calculation

In [35]:
freqCalc("ssc_p",dataset)

     unique_value  Freq  Rel_Freq  Cum_freq
0           62.00    11  0.106796  0.106796
1           63.00    10  0.097087  0.203883
2           67.00     9  0.087379  0.291262
3           73.00     9  0.087379  0.378641
4           52.00     9  0.087379  0.466019
..            ...   ...       ...       ...
98          55.68     1  0.009709  2.048544
99          41.00     1  0.009709  2.058252
100         83.33     1  0.009709  2.067961
101         43.00     1  0.009709  2.077670
102         80.60     1  0.009709  2.087379

[103 rows x 4 columns]

# Skewness amd Kurtosis

In [46]:
def Univariate(quan,dataset):
            descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25","Q2:50","Q3:75","99th","Q4:100","IQR","1.5rule","LesserBound",
                                            "UpperBound","min","max","Kurtosis","skewness"],columns=quan)
            for col in quan:
                    descriptive.loc["Mean",col]=dataset[col].mean()
                    descriptive.loc["Median",col]=dataset[col].median()
                    descriptive.loc["Mode",col]=dataset[col].mode()[0]
                    descriptive.loc["Q1:25",col]=dataset.describe()[col]["25%"]
                    descriptive.loc["Q2:50",col]=dataset.describe()[col]["50%"]
                    descriptive.loc["Q3:75",col]=dataset.describe()[col]["75%"]
                    descriptive.loc["99th",col]=np.percentile(dataset[col],99)
                    descriptive.loc["Q4:100",col]=dataset.describe()[col]["max"]
                    descriptive.loc["IQR",col]=descriptive.loc["Q3:75",col]-descriptive.loc["Q1:25",col]
                    descriptive.loc["1.5rule",col]=1.5*descriptive.loc["IQR",col]
                    descriptive.loc["LesserBound",col]=descriptive.loc["Q1:25",col]-descriptive.loc["1.5rule",col]
                    descriptive.loc["UpperBound",col]=descriptive.loc["Q3:75",col]+descriptive.loc["1.5rule",col]
                    descriptive.loc["min",col]=dataset[col].min()
                    descriptive.loc["max",col]=dataset[col].max()
                    descriptive.loc["Kurtosis",col]=dataset[col].kurt()
                    descriptive.loc["skewness",col]=dataset[col].skew()
            return descriptive

In [47]:
Univariate(quan,dataset)

              sl_no      ssc_p  hsc_p degree_p    etest_p      mba_p    salary
Mean          108.0  67.303395  91.15     88.5  72.100558  62.278186  390000.0
Median        108.0       67.0  91.15     88.5       71.0       62.0  390000.0
Mode              1       62.0  91.15     88.5       60.0       56.7  390000.0
Q1:25          54.5       60.6  91.15     88.5       60.0     57.945  390000.0
Q2:50         108.0       67.0  91.15     88.5       71.0       62.0  390000.0
Q3:75         161.5       75.7  91.15     88.5       83.5     66.255  390000.0
99th         212.86       87.0  91.15     88.5       97.0    76.1142       NaN
Q4:100        215.0       89.4  91.15     88.5       98.0      77.89  390000.0
IQR           107.0       15.1    0.0      0.0       23.5       8.31       0.0
1.5rule       160.5      22.65    0.0      0.0      35.25     12.465       0.0
LesserBound  -106.0      37.95  91.15     88.5      24.75      45.48  390000.0
UpperBound    322.0      98.35  91.15     88.5     118.75      78.72  390000.0
min               1      40.89  91.15     88.5       50.0      51.21  390000.0
max             215       89.4  91.15     88.5       98.0      77.89  390000.0
Kurtosis       -1.2   -0.60751    0.0      0.0   -1.08858  -0.470723       0.0
skewness        0.0  -0.132649    0.0      0.0   0.282308   0.313576       0.0

In [45]:
dir(dataset["ssc_p"])

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__firstlineno__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_cacher',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

# STD and Variance

In [12]:
def Univariate(quan,dataset):
            descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25","Q2:50","Q3:75","99th","Q4:100","IQR","1.5rule","LesserBound",
                                            "UpperBound","min","max","Kurtosis","skewness","variance","stand_dev"],columns=quan)
            for col in quan:
                    descriptive.loc["Mean",col]=dataset[col].mean()
                    descriptive.loc["Median",col]=dataset[col].median()
                    descriptive.loc["Mode",col]=dataset[col].mode()[0]
                    descriptive.loc["Q1:25",col]=dataset.describe()[col]["25%"]
                    descriptive.loc["Q2:50",col]=dataset.describe()[col]["50%"]
                    descriptive.loc["Q3:75",col]=dataset.describe()[col]["75%"]
                    descriptive.loc["99th",col]=np.percentile(dataset[col],99)
                    descriptive.loc["Q4:100",col]=dataset.describe()[col]["max"]
                    descriptive.loc["IQR",col]=descriptive.loc["Q3:75",col]-descriptive.loc["Q1:25",col]
                    descriptive.loc["1.5rule",col]=1.5*descriptive.loc["IQR",col]
                    descriptive.loc["LesserBound",col]=descriptive.loc["Q1:25",col]-descriptive.loc["1.5rule",col]
                    descriptive.loc["UpperBound",col]=descriptive.loc["Q3:75",col]+descriptive.loc["1.5rule",col]
                    descriptive.loc["min",col]=dataset[col].min()
                    descriptive.loc["max",col]=dataset[col].max()
                    descriptive.loc["Kurtosis",col]=dataset[col].kurt()
                    descriptive.loc["skewness",col]=dataset[col].skew()
                    descriptive.loc["variance",col]=dataset[col].var()
                    descriptive.loc["stand_dev",col]=dataset[col].std()
            return descriptive

In [13]:
Univariate(quan,dataset)

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99th,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
LesserBound,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
UpperBound,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
min,1,40.89,37.0,50.0,50.0,51.21,200000.0
max,215,89.4,97.7,91.0,98.0,77.89,940000.0
Kurtosis,-1.2,-0.60751,0.450765,0.052143,-1.08858,-0.470723,18.544273
skewness,0.0,-0.132649,0.163639,0.244917,0.282308,0.313576,3.569747
variance,3870.0,117.228377,118.755706,54.151103,176.251018,34.028376,8734295412.759695
stand_dev,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.45242